/*
    Main menu
 */
body{
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);

}
.container {
    max-width: 390px;

}
.button_calendar {
    width: 390px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    display: flex;
}

.calendar {
    width: 390px;
    max-width: 390px;
    height: 400px;
    margin: 0;
    padding-top: -20px;
    border: none;
    border-radius: 10px;
    display: flex;
}

.currentMonthYear {
    color: var(--tg-theme-text-color);
}
.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
    padding-top: 63px;
}

.img {
    background: var(--tg-theme-button-color);
    width: 70px;
    height: 200px;
}

.item{
    text-align: center;

}
.btnCal {
    margin: 0 auto;
    display: block;
    border: none;

    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    text-transform: uppercase;
    font-weight: 700;
}
.btn{
    width: 105px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    background: red;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
}
/*
    Settings
 */

.btnBack {
    width: 55px;
    height: 35px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    background: red;
    font-weight: 700px;
    font-size: 11px;

}

.inner1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px;

}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
    text-align: left;
    border-collapse: separate;
    border-spacing: 11px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;

}
th {
    font-size: 18px;
    padding: 10px;
}
td {
    background: #F5D7BF;
    padding: 5px;

}


