body{
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);

}
.container {
    max-width: 390px;

}
.button_calendar {
    width: 390px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    display: flex;
}

.calendar {
    width: 390px;
    max-width: 390px;
    height: 400px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    display: flex;
}

.currentMonthYear {
    color: var(--tg-theme-text-color);
}
.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    max-width: 390px;
}

.img {
    width: 75px;
}

.item{
    text-align: center;
}
.btnCal {
    margin: 0 auto;
    display: block;
    border: none;
    background: var(--tg-theme-button-color);
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    text-transform: uppercase;
    font-weight: 700;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: var(--tg-theme-button-color);
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}


