body{
  align-content:center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-start;
  margin: 0px;
  width: 100vw;
  color: var(--tg-theme-text-color);
  background: #1E1E1E;

}
.container{

}
.calendar {
  max-width: inherit;
  position: relative;
  height: inherit;
  margin: 0;


}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 80px;
  padding-top: 20px;

}
.item{
  text-align: center;
}
.btn{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 105px;
  display: inline-block;
  padding: 10px 20px;
  border: 1.5px solid #495D92;
  border-radius: 4px;
  color: white;
  background: #222328;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}
table {
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  border-collapse: separate;
  border-spacing: 4px;
  color: white;
  font-size: 9px;
  display: inline-block;
  poiner-events: none;


}
td {
  padding: 10px;
  border: 1.5px solid #666666;
  background: #2B2B2B ;
  border-radius: 4px;
}
.ChangeColorGreen {
  border: 1.5px solid #55C478;
  background: #2B382E;
  border-radius: 4px;
}
.ChangeColorPurple {
  border: 1.5px solid #A186E3;
  background: #28252E;
  border-radius: 4px;
}
.ChangeColorRed {
  background: #2D2121;
  border: 1.5px solid #D64E50;
  border-radius: 4px;
}
.timeAndWeek {
  background: #222328;
  border: 1.5px solid #495D92;
}
.btnBack {
  font-weight: 700;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 70px;
  display: inline-block;
  padding: 10px 20px;
  border: 1.5px solid #495D92;
  border-radius: 4px;
  color: white;
  background: #222328;
  right: 80%;
  margin-right: 80%;
  transform: none;
  display: block;
}



