/*
    Main menu
 */
body{
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);

}
.container {
    max-width: inherit;

}
.button_calendar {
    width: 390px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    display: flex;
}

.calendar {
    width: inherit;
    max-width: 1200px;
    height: inherit;
    max-width: 600px;
    margin: 0;
    border: none;
    border-radius: 10px;
}

.currentMonthYear {
    color: var(--tg-theme-text-color);
}
.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
    padding-top: 20px;

}

.img {
    background: var(--tg-theme-button-color);
    width: 70px;
    height: 200px;
}

.item{
    text-align: center;

}

.btn{
    width: 105px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
}
/*
    Settings
 */

.btnBack {
    width: 55px;
    height: 35px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    font-weight: inherit;
    font-size: 11px;

}

.inner1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px;

}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
    text-align: center;
    border-collapse: separate;
    border-spacing: 4px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-button-color);
    border-radius: inherit;
    font-size: inherit;
}

td {
    padding: 10px;
    border: 2px solid grey;
    background: lightgrey;
    border-radius: 10px;


}
.timeAndWeek {
    color: var(--tg-theme-button-text-color);


}
.ChangeColor {
    background: lawngreen;
    border: 2px solid green;
    background: limegreen;
    border-radius: 10px;
}



